doctype html
html(lang="en")
  head
    title= Advertise
  body
    form(name="login",action='https://add-rajatkusumwal.c9users.io/login', method="post")
        div.input
            span.label UserName
            input(type="text",name="user")
        div.input
            span.label Password
            input(type="password",name="pass")
        div.actions
            input(type="submit", value="Login")
    form(name="login",action='https://add-rajatkusumwal.c9users.io/')
        div.actions
            input(type="submit", value="Home")    
  p #{val}